@import '@mantine/core/styles.css';
@import '@mantine/dates/styles.css';

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 244, 244, 245; /* Light Gray for dashboard background */
}

body {
  background-color: #f8f9fa;
  color: #212529;
}
